<h1>Välkommen!</h1>

<p>
	Detta är en mycket ärofylld tävling som ger evig ära och en plats i schlagerhimlen och som har hållit
	på i ett antal år nu.
</p>

<p>
		<b>Tävlingsregler:</b> Målet är att få så lite poäng som möjligt. Skriv placeringen i fältet och
		lämna in till mig innan omröstningen har avslutats på TV. Om du skickar in för sent så är du inte
		med. Efter att resultatet är presenterat på TV jämför jag era gissningar med de verkliga placeringarna.
		 Har ni gissat helt rätt på en låt blir det 0 poäng. Har ni gissat fel får ni lika många straffpoäng
		 som antalet placeringar ni har gissat fel. Exempel: En låt kommer sexa men du har tippat att den ska
		 komma tvåa, 6-2=4 straffpoäng. Den som får lägst poäng har vunnit. Sammanställningen och vem som
		 har vunnit kan du se via Facebook så snart det går efter finalen är färdig.
</p>

<p>
	Skriv in vilken slutplacering låten får i finalen i fälten nedan. Kolla så att du inte skriver in samma
	placering flera gånger.
</p>

<%= link_to "Nog nu! Ta mig till tävlingen!", new_bet_path, class: "btn btn-lg btn-primary" %>
