<% if logged_in? %>
	<div class="container-fluid">
		<div class="row textarea-big">
			<h1>Rätt ordning administration</h1>
		</div>
		<%= link_to "Logga ut", logout_path, method: :delete %>
	</div>
<% end %>
