<h1>Skriv in ditt namn och låtarna!</h1>

<%= form_for @bet do |f| %>
  <p>
		Ditt namn *
	</p>
    <%= f.text_field :name %>
	<p>
		Placering #1
	</p>
	<%= f.submit "Skicka in ditt svar", class: "btn btn-primary"%>
<% end %>
