<h1>Tack för ditt svar!</h1>

<p>Ditt svar har sparats.</p>
<p>Om du vill ändra ditt svar så klicka på tillbaka.</p>

<% @bet.placements.each do |p| %>
	<p>
		Placering #<%= p.position %>
		<%= p.contestant.title %>
		<%= p.contestant.country %>
	</p>
<% end %>
