<h1>Tack för ditt svar!</h1>

Ditt svar har sparats. <%= link_to "← Klicka här för att ändra", edit_bet_path%>

<div class="box">
	<b>Du har skickat in följande tippning:</b>
	<% @bet.placements.order('position ASC').each do |p| %>
		<div class="contestant" style="width: fit-content;">
			<%= p.position %>. <%= p.contestant.complete_title %>
		</div>
	<% end %>
</div>