.bet {
    margin: 0.5rem 0;
    background-color: #71a0a5;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 4px;
    font: 1.4rem "roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
    .placements {
        font: 1rem "roboto", sans-serif;
        font-weight: unset;
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
    }
}